<ion-view view-title="{{ device.name }}">
  <ion-content class="padding">
    <p>Device name: {{ device.name }}</p>
    <ion-list>
      <ion-item>
        <div class="item item-button-right">
          Solid Red
          <button class="button button-assertive" ng-click="showRed()">
            <i class="icon ion-asterisk"></i>
          </button>
        </div>
      </ion-item>
      <ion-item>
        <div class="item item-button-right">
          Solid Blue
          <button class="button button-positive" ng-click="showBlue()">
            <i class="icon ion-asterisk"></i>
          </button>
        </div>
      </ion-item>
      <ion-item>
        <div class="item item-button-right">
          Solid Green
          <button class="button button-balanced" ng-click="showGreen()">
            <i class="icon ion-asterisk"></i>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>